pandas
selenium
ipykernel
webdriver-manager
numpy
matplotlib
seaborn
nltk
PySastrawi
wordcloud
scikit-learn
beautifulsoup4
pyserini
streamlit

python-dotenv

hf_xet
sentence-transformers
transformers

langchain-community
langchain-huggingface
langchain
langchain-experimental
langchain_chroma
langsmith

faiss-cpu