pandas
selenium
ipykernel
webdriver-manager
numpy
matplotlib
seaborn
nltk
PySastrawi
wordcloud
scikit-learn
beautifulsoup4
pyserini
streamlit

hf_xet
sentence-transformers
transformers

langchain-community
langchain-huggingface

faiss-cpu